body {
    background-color: rgb(121, 116, 116);
}

nav a {
    margin-top: 5px;
    padding: 3px;
    font-size: 15px;
    color: black;
    display: flex;
    justify-content: center;
}

h2{
    font-style: italic;
}

.img1 {
text-align: center;
}

.img2 {
    text-align: center;
}